name: Sonar Report

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: false

      - name: Cache Go modules
        uses: actions/cache@v5
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Generate Sonar Report
        run: |
          go test -coverpkg=./... -coverprofile=coverage.out -json ./... > sonar-report.json || {
            echo "Tests failed! Here's the test output:"
            cat sonar-report.json
            exit 1
          }

      - name: Upload coverage reports to Sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        if: github.event.pull_request.head.repo.full_name == github.repository || env.SONAR_TOKEN != ''
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
